output/
build/
jons_forest/
*#
latex/forest.bib
latex/forest.aux
latex/forest.log
latex/forest.out
latex/forest.toc

*.zip

coq/alectryon_repo
assets/MyTheory.html/dejavu
coq/_build
coq/venv
build_scripts/*.o
build_scripts/*.cmx
build_scripts/*.cmi
build_scripts/
phony

# Latex
*.aux